Repository openfoodfacts/facets-knowledge-panels, pull requests merged in 2022-11, with the labels that each got.

#59 build: api point to display knowledge panels
  app/main.py
  app/models.py
  app/off.py
  app/wikidata_utils.py
  requirements.txt
  template/item.html
  tests/test_knowledge_panels.py
Labels: javascript, tests, api, models

#61 feat: stick to knowledge panels spec
  app/knowledge_panels.py
  app/main.py
  app/models.py
  app/off.py
  template/item.html
  tests/test_knowledge_panels.py
  tests/test_main.py
  tests/test_utils.py
Labels: tests, api, models

#62 ci: deploy to staging
  .github/workflows/container-build.yml
  .github/workflows/container-deploy.yml
  .gitignore
  app/main.py
  docker-compose.yml
  docker/dev.yml
  docker/prod.yml
  requirements.txt
Labels: github, api, docker

#64 build: add template folder to docker
  Dockerfile
Labels: docker

#65 ci: release please token
  .github/workflows/release-please.yml
Labels: github

#67 chore(main): release 1.0.1
  CHANGELOG.md
Labels: autorelease: pending
