Repository openfoodfacts/facets-knowledge-panels, pull requests merged in 2023-03, with the labels that each got.

#100 refactor: Changed Data-quality Url
  app/knowledge_panels.py
  app/off.py
  tests/test_knowledge_panels.py
  tests/test_main.py
Labels: tests, api

#104 fix: avoid failing on known situations
  app/off.py
Labels: P0, api

#107 fix: small change in .pot
  app/off.py
  i18n/en/LC_MESSAGES/knowledge-panel.po
  i18n/fr/LC_MESSAGES/knowledge-panel.po
  i18n/hi/LC_MESSAGES/knowledge-panel.po
  i18n/knowledge-panel.pot
  tests/test_knowledge_panels.py
Labels: translations, tests, api
