Repository openfoodfacts/facets-knowledge-panels, pull requests merged in 2023-01, with the labels that each got.

#79 fix: Implementing caching
  app/knowledge_panels.py
  app/main.py
  app/off.py
  requirements.txt
  tests/test_main.py
Labels: tests, api

#84 fix: staging deployment for off.net
  .env
  .github/workflows/container-deploy.yml
  app/config.py
  app/knowledge_panels.py
  app/main.py
Labels: github, api

#72 chore(main): release 1.0.2
  CHANGELOG.md
Labels: autorelease: pending

#86 fix: Sever side error
  app/exception_wrapper.py
  app/knowledge_panels.py
  app/main.py
  app/off.py
Labels: api

#90 fix: Allow all origin
  app/main.py
Labels: api

#92 refactor: Tweak HTML template
  app/knowledge_panels.py
  app/off.py
  template/item.html
  tests/test_knowledge_panels.py
Labels: tests, api
