Repository openfoodfacts/facets-knowledge-panels, pull requests merged in 2025-03, with the labels that each got.

#157 chore: Upgrade ci pipeline
  .github/workflows/autoblack.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/container-build.yml
  .github/workflows/crowdin.yml
  .github/workflows/generate-docs.yml
  .github/workflows/label.yml
  .github/workflows/pull_request.yml
  .github/workflows/semantic-pr.yml
  Dockerfile
  Makefile
  app/i18n.py
  app/main.py
  docker-compose.yml
  docker/dev.yml
  docker/prod.yml
  requirements.txt
Labels: dependencies

#151 test: added test cases for test_dataquality_kp
  tests/test_dataquality_kp.py
Labels: 🧪 Tests, 🧽 Data Quality

#161 fix: Set fallback=True in i18n.py
  app/i18n.py
Labels: i18n
